<!-- Add you custom twig html here -->

<p>----- BEGIN results -----</p>
<h3>Results</h3>
<div style="background-color:#fafafa; padding: 10px; margin-bottom:20px;">
  <ul>
  {% for key, field in fields %}
    {% if field is iterable %}
      <li><strong>{{ key }}</strong>:
      <ul>
      {% for subkey, subfield in field %}
        {% if subfield is iterable %}
          <li><strong>{{ subkey }}</strong>:
          <ul>
          {% for level3key, level3field in subfield %}
            <li><strong>{{ level3key }}</strong>: {{ level3field }}</li>
          {% endfor %}
          </ul></li>
        {% else %}
          <li><strong>{{ subkey }}</strong>: {{ sudfield }}</li>
        {% endif %}
      {% endfor %}
      </ul></li>
    {% else %}
      <li><strong>{{ key }}</strong>: {{ field }}</li>
    {% endif %}
  {% endfor %}
  </ul>
</div>
<p>----- END results -----</p>
